
body {
	padding-top: 70px;
  background: url(https://i.imgur.com/J75YG9t.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center
}
	
#title {
	padding-top: 25%;

}
.Purr {
	text-align: center;
}
#h1 {
	font-family: 'Capriola', sans-serif;
	color: RGB(77, 189, 43);
	
}
p {
	
	font-family: 'Berkshire Swash', cursive;
	color: blue;
}
hr.style-seven {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px 0 0 0;
    border-radius: 20px;
}